<h1>Inside Demo Componenet</h1>
<h2>{{Name}}</h2>
<h2>{{Name | lowercase}}</h2>
<h2>{{Name | uppercase}}</h2>
<h2>{{Name | titlecase}}</h2>
<h2>{{Name | slice:12}}</h2>

<h2></h2>
<h2>{{ value | number : '1.2-2'}}</h2>
<h2>{{ value | number : '3.4-5'}}</h2>

<h2>{{98 | currency}}</h2>

<h2>{{98 | currency: 'INR'}}</h2>

<h2>{{today}}</h2>
<h2>{{today | date }}</h2>
<h2>{{today | date: 'shortDate'}}</h2>
<h2>{{today | date:'short'}}</h2>
<h2>{{today | date:'shortTime'}}</h2>

<h2>JSON PIPE</h2>
<h2>{{Book}}</h2>
<h2>{{Book | json}}</h2>

